!!!
%html
  %head
    %title Depot
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class: controller.controller_name }
    #banner
      = image_tag("logo.png")
      = @page_title || 'Pragmatic Bookshelf'

    #columns
      #side
        - if @cart
          = hidden_div_if(@cart.line_items.empty?, id: "cart") do
            = render @cart

        %ul
          %li= link_to 'ホーム', "#"
          %li= link_to 'よくある質問', "#"
          %li= link_to 'ニュース', "#"
          %li= link_to 'お問い合わせ', "#"
      #main
        = yield
